<script setup lang="ts">
defineEmits(['update:modelValue'])
defineProps<{
  label: String,
  modelValue?: String,
  id: String,
}>()
</script>

<template>
  <div class="my-2">
    <div class="form-check">
      <input
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"

        :id="id"
        type="checkbox"
        class="form-check-input"
      >
      <label class="form-check-label" :for="id">{{ label }}</label>
    </div>
  </div>
</template>
