<script lang="ts">
export default {
  inheritAttrs: false
}
</script>

<script setup lang="ts">
import { useAttrs, computed } from 'vue'

const attrs = useAttrs()
interface Props {
  label: String
  modelValue?: String
  id: String
  errors?: Array<string>
}

defineEmits(['update:modelValue'])
const {label, modelValue, id, errors = undefined} = defineProps<Props>()
</script>

<template>
  <div class="my-2">
    <div class="form-floating" :class="errors?.length ? 'is-invalid' : ''">
      <input
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"

        :id="id"
        :placeholder="label"
        class="form-control"
        :class="errors?.length ? 'is-invalid' : ''"
        :aria-describedby="'validation-'+ id"
        v-bind="attrs"
      />
      <label :for="id" class=" text-dark">{{ label }}</label>
    </div>
    <div :id="'validation-'+ id" class="invalid-feedback" v-if="errors">
      <div v-for="error in errors">{{ error }}</div>
    </div>
  </div>
</template>
