<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useForgotPasswordStore } from '@/stores/forgot-password'
import FloatingInput from '@/components/form/FloatingInput.vue';

const store = useForgotPasswordStore()
const { form, errors } = storeToRefs(store)

function submit() {
  store.forgotPassword()
  // this.$router.push()
}
</script>

<template>
  <form @submit.prevent="submit">
    <FloatingInput
      v-model.trim.lazy="form.email" :errors="errors?.email"
      label="Email address" type="email" id="login_email"
      autocomplete="email" autofocus required
    />
    <button class="w-100 btn btn-primary" type="submit">Send</button>
  </form>
</template>
