<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useAuthStore } from '@/stores/auth'
import CheckInput from '@/components/form/CheckInput.vue';
import FloatingInput from '@/components/form/FloatingInput.vue';

const store = useAuthStore()
const { form, errors } = storeToRefs(store)

function login() {
  store.login()
  // this.$router.push("/dashboard")
}
</script>

<template>
  <form @submit.prevent="login">
    <FloatingInput
      v-model.trim.lazy="form.email" :errors="errors?.email"
      label="Email address" type="email" id="login_email"
      autocomplete="email" autofocus required
    />
    <FloatingInput
      v-model.trim.lazy="form.password" :errors="errors?.password"
      label="Password" type="password" id="login_password"
      required
    />
    <CheckInput v-model="form.remember" label="Remember me" id="login_remember" />
    <button class="w-100 btn btn-primary" type="submit">Login</button>
  </form>
</template>
