<script setup lang="ts">
import { storeToRefs } from 'pinia';
import { useRegisterStore } from '@/stores/register'
import FloatingInput from '@/components/form/FloatingInput.vue';

const store = useRegisterStore()
const { form, errors } = storeToRefs(store)

function register() {
  store.register()
  console.log(store.isRegistered)
  if (store.isRegistered) {
    this.$router.push({ name: 'Home'})
  }
}
</script>

<template>
  <form @submit.prevent="register">
    <FloatingInput
      v-model.trim.lazy="form.name" :errors="errors?.name"
      label="Name" id="register_name"
      autocomplete="name" autofocus required
    />
    <FloatingInput
      v-model.trim.lazy="form.email" :errors="errors?.email"
      label="Email address" type="email" id="register_email"
      autocomplete="email" required
    />
    <FloatingInput
      v-model.trim.lazy="form.password" :errors="errors?.password"
      label="Password" type="password" id="register_password"
      required
    />
    <FloatingInput
      v-model.trim.lazy="form.password_confirmation" :errors="errors?.password_confirmation"
      label="Password confirmation" type="password" id="register_password_confirmation"
      required
    />
    <button class="w-100 btn btn-primary" type="submit">Registration</button>
  </form>
</template>
