<script setup lang="ts">
import { RouterLink } from 'vue-router'
</script>

<template>
  <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <RouterLink
        :to="{ name: 'Home' }"
        class="navbar-brand"
        activeClass=""
        exactActiveClass=""
      >Test App</RouterLink>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <RouterLink
              :to="{ name: 'Home' }"
              class="nav-link"
              activeClass="active"
              exactActiveClass=""
            >Home</RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink
              :to="{ name: 'SomeEntity::index' }"
              class="nav-link"
              activeClass="active"
              exactActiveClass=""
            >Some Entities</RouterLink>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <RouterLink
              :to="{ name: 'Auth::login' }"
              class="nav-link"
              activeClass="active"
              exactActiveClass=""
            >
              Authorization
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink
              :to="{ name: 'Auth::register' }"
              class="nav-link"
              activeClass="active"
              exactActiveClass=""
            >
              Registration
            </RouterLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
