<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { ref, Ref, watchEffect, onMounted } from 'vue'
import { RouterLink } from 'vue-router'
import SomeEntity from '@/types/SomeEntity'
import { useSomeEntitiesStore } from '@/stores/some-entities'


const someEntities = useSomeEntitiesStore()

const list: Ref<Array<SomeEntity>> = ref([])
const meta: Ref<Object> = ref({})

const { items, page } = storeToRefs(someEntities)

onMounted(() => {
  someEntities.fetchByPage()
})

watchEffect(async () => {
})

async function deleteAction(item: SomeEntity) {
  if (window.confirm('Are you sure you want to remove the item?')) {
    someEntities.removeItem(item)
  }
}
</script>

<template>
  <RouterLink :to="{ name: 'SomeEntity::create' }" class="btn">Add</RouterLink>

  <div v-if="list.length">
    <ol :start="meta.from">
      <li v-for="item of list">
        <div class="list-title" data-name="UUID">
          <RouterLink :to="{ name: 'SomeEntity::show', params: { id: item.uuid } }">
            {{ item.uuid }}
          </RouterLink>
        </div>
        <div class="list-actions">
          <RouterLink :to="{ name: 'SomeEntity::edit', params: { id: item.uuid } }">
            Edit
          </RouterLink>
          <button @click="deleteAction(item)">
            Delete
          </button>
        </div>
      </li>
    </ol>
    <div class="pagination">
      <ul>
        <!--        <li v-if="links.first"><RouterLink :to="links.first">First</RouterLink></li>-->
        <li v-if="links.prev"><a @click="--page">Prev</a></li>
        <li>{{ meta.current_page }}</li>
        <li v-if="links.next"><a @click="++page">Next</a></li>
        <!--        <li v-if="links.last"><RouterLink :to="links.last">Last</RouterLink></li>-->
      </ul>
    </div>
  </div>
  <div v-else class="table-empty">
    List is empty.
  </div>
</template>

<style scoped>

</style>
