<script setup lang="ts">
import { RouterLink } from 'vue-router'
import ForgotPasswordForm from '@/components/ForgotPasswordForm.vue';
</script>

<template>
  <h1 class="my-4">Forgot password</h1>
  <ForgotPasswordForm />
  <div class="d-flex justify-content-between my-2">
    <RouterLink :to="{ name: 'Auth::login' }">Authorization</RouterLink>
  </div>
</template>
