<script setup lang="ts">
import { RouterLink } from 'vue-router'
import LoginForm from '@/components/LoginForm.vue';
</script>

<template>
  <h1 class="my-4">Authorization</h1>
  <LoginForm />
  <div class="d-flex justify-content-between my-2">
    <RouterLink :to="{ name: 'Auth::register' }">Registration</RouterLink>
    <RouterLink :to="{ name: 'Auth::forgot-password' }">
      Forgot your password?
    </RouterLink>
  </div>
</template>
