<script setup lang="ts">
import { RouterLink } from 'vue-router'
import RegisterForm from '@/components/RegisterForm.vue';
</script>

<!--<template>
  <div v-if="authStore.isAuthenticated" class="">
    You already authorized!
    <button @click.prevent="authStore.logout">Logout</button>
    <div v-if="authStore.errors.main">{{ authStore.errors.main }}</div>
  </div>
</template>-->

<template>
  <h1 class="my-4">Registration</h1>
  <RegisterForm />
  <div class="d-flex justify-content-between my-2">
    <RouterLink :to="{ name: 'Auth::login' }">Authorization</RouterLink>
  </div>
</template>
