<script setup lang="ts">
import { RouterView } from 'vue-router'
import MainHeader from '@/components/layout/MainHeader.vue';
import MainFooter from '@/components/layout/MainFooter.vue';
</script>

<template>
  <MainHeader />

  <main class="container py-2">
    <RouterView />
  </main>

  <MainFooter />
</template>

<style lang="scss">
@import 'assets/base';
</style>
